html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("./../fonts/PlayfairDisplay-Bold.ttf");
}

html,
body {
  font-weight: normal;
  font-family: "Roboto";
}

.wrapper {
  margin: 0 auto;
  max-width: 1110px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-family: "PlayfairDisplay";
}

.text {
  font-size: 18px;
  text-align: left;
  color: #000000;
}

.bold {
  font-weight: 700;
  margin-right: 10px;
}

.header {
  background: url("./../img/header-bg.png") center no-repeat;
  background-size: cover;
  padding: 535px 0 50px;
}

.header .header__title {
  max-width: 890px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-family: "PlayfairDisplay";
  text-shadow: 0px 3px 1.8px rgba(134, 146, 181, 0.78);
}

.header .header__title:last-of-type {
  margin-bottom: 50px;
}

.header .header__link {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  display: block;
  opacity: 0.7;
}

.info {
  padding: 50px 0 50px;
}

.info .wrapper {
  max-width: 800px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 50px;
}

.info .wrapper .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info .wrapper .info-list .info-list__item .info-list__title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
  white-space: nowrap;
}

.info .wrapper .info-list .info-list__item .info-list__text {
  font-size: 33px;
  font-weight: 900;
  text-align: center;
  color: #000000;
  white-space: nowrap;
}

.tasks {
  padding: 0 0 60px;
}

.tasks .wrapper {
  max-width: 1360px;
}

.tasks .wrapper .tasks__title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.tasks .wrapper .tasks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tasks .wrapper .tasks-list .tasks-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks .wrapper .tasks-list .tasks-list__item .tasks-list__image {
  max-width: 65px;
  width: 100%;
  height: auto;
  margin-right: 25px;
}

.tasks .wrapper .tasks-list .tasks-list__item .tasks-list__desc .tasks-list__title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 25px;
  max-width: 310px;
  white-space: nowrap;
}

.tasks .wrapper .tasks-list .tasks-list__item .tasks-list__desc .tasks-list__text {
  font-size: 14px;
  text-align: left;
  color: #000000;
  max-width: 310px;
}

.stages {
  background: #eef6fd;
  padding: 50px 0 80px;
}

.stages .stages__image {
  width: 100%;
}

.stages .stages1 {
  margin-bottom: 5px;
  padding: 0 0 0 190px;
}

.stages .stages1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1490px;
}

.stages .stages1 .wrapper .stages1-desc {
  max-width: 540px;
}

.stages .stages1 .wrapper .stages1-desc .title {
  margin-bottom: 30px;
}

.stages .stages1 .wrapper .stages1__image {
  max-width: 850px;
}

.stages .stages2 {
  margin-bottom: 50px;
}

.stages .stages2 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1575px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stages .stages2 .wrapper .stages2-desc {
  max-width: 580px;
  margin-right: 30px;
}

.stages .stages2 .wrapper .stages2-desc .title {
  margin-bottom: 30px;
}

.stages .stages2 .wrapper .stages2__image {
  max-width: 800px;
}

.stages .stages3 {
  margin-bottom: 10px;
  padding: 0 0 0 200px;
}

.stages .stages3 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1445px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stages .stages3 .wrapper .stages3-desc {
  max-width: 580px;
  margin-right: 30px;
}

.stages .stages3 .wrapper .stages3-desc .title {
  margin-bottom: 30px;
}

.stages .stages3 .wrapper .stages3__image {
  max-width: 840px;
}

.stages .stage1 {
  margin-bottom: 70px;
}

.stages .stage1 .wrapper {
  max-width: 1490px;
}

.stages .stage2 {
  margin-bottom: 70px;
}

.stages .stage2 .wrapper {
  max-width: 1050px;
}

.stages .stage3 .wrapper {
  max-width: 1360px;
}

.result {
  padding: 55px 0 65px;
}

.result .result1 {
  margin-bottom: 10px;
}

.result .result1 .wrapper {
  max-width: 1390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result .result1 .wrapper .result1-desc {
  max-width: 535px;
}

.result .result1 .wrapper .result1-desc .title {
  margin-bottom: 30px;
}

.result .result1 .wrapper .result1__image {
  max-width: 670px;
}

.result .result2 {
  padding: 0 0 0 200px;
  margin-bottom: 80px;
}

.result .result2 .wrapper {
  max-width: 1420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result .result2 .wrapper .result2-desc {
  max-width: 490px;
}

.result .result2 .wrapper .result2-desc .title {
  margin-bottom: 30px;
}

.result .result2 .wrapper .result2__image {
  max-width: 900px;
}

.result .result3 .wrapper {
  max-width: 1160px;
}

.result .result3 .wrapper .result3-desc .title {
  margin-bottom: 35px;
  text-align: center;
}

.result .result3 .wrapper .result3-desc .text {
  text-align: center;
  margin-bottom: 40px;
}

.result .result3 .wrapper .result3__image {
  width: 100%;
}

.review {
  margin-bottom: 50px;
}

.review .wrapper {
  max-width: 790px;
}

.review .wrapper .text {
  padding: 80px 42px;
  background: url("./../img/review-bg.png") center no-repeat;
  background-size: contain;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    padding: 0 20px;
  }

  .result .result2 {
    padding: 0;
  }

  .result .result2 .wrapper .result2__image {
    max-width: 700px;
  }

  .stages .stages1 {
    padding: 0;
  }

  .stages .stages1 .wrapper .stages1__image {
    max-width: 700px;
  }

  .stages .stages2 .wrapper .stages2__image {
    max-width: 700px;
  }

  .stages .stages3 {
    padding: 0;
  }

  .stages .stages3 .wrapper .stages3__image {
    max-width: 700px;
  }
}

@media screen and (max-width: 1280px) {
  .stages .stages1 {
    padding: 0;
  }

  .stages .stages1 .wrapper .stages1__image {
    max-width: 500px;
  }

  .stages .stages2 .wrapper .stages2__image {
    max-width: 500px;
  }

  .stages .stages3 {
    padding: 0;
  }

  .stages .stages3 .wrapper .stages3__image {
    max-width: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .tasks .wrapper .tasks-list .tasks-list__item {
    margin-bottom: 20px;
  }

  .stages .stages1 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .stages .stages1 .wrapper .stages1-desc {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .stages .stages1 .wrapper .stages1__image {
    max-width: 100%;
  }

  .stages .stages2 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .stages .stages2 .wrapper .stages2-desc {
    max-width: 100%;
  }

  .stages .stages2 .wrapper .stages2__image {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .stages .stages3 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .stages .stages3 .wrapper .stages3-desc {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .stages .stages3 .wrapper .stages3__image {
    max-width: 100%;
  }

  .result .result1 .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .result .result1 .wrapper .result1__image {
    max-width: 100%;
  }

  .result .result1 .wrapper .result1-desc {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .result .result2 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .result .result2 .wrapper .result2__image {
    max-width: 100%;
  }

  .result .result2 .wrapper .result2-desc {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .tasks .wrapper .tasks-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 300px 0 15px;
  }

  .header .header__title {
    font-size: 24px;
  }

  .header .header__title:last-of-type {
    margin-bottom: 20px;
  }

  .info .wrapper {
    padding: 0 20px 20px;
  }

  .info .wrapper .info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info .wrapper .info-list .info-list__item {
    margin-bottom: 30px;
  }

  .info .wrapper .info-list .info-list__item .info-list__title {
    margin-bottom: 10px;
  }

  .tasks {
    padding: 0 0 20px;
  }

  .tasks .wrapper .tasks-list .tasks-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tasks .wrapper .tasks-list .tasks-list__item .tasks-list__image {
    margin: 0;
    margin-bottom: 20px;
  }

  .tasks .wrapper .tasks-list .tasks-list__item .tasks-list__desc .tasks-list__title {
    margin-bottom: 10px;
    white-space: normal;
    text-align: center;
  }

  .tasks .wrapper .tasks-list .tasks-list__item .tasks-list__desc .tasks-list__text {
    text-align: center;
  }

  .stages {
    padding: 20px 0 20px;
  }

  .stages .stage1 {
    margin-bottom: 20px;
  }

  .stages .stage2 {
    margin-bottom: 20px;
  }

  .result {
    padding: 20px 0 20px;
  }

  .result .result2 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .review .wrapper .text {
    font-size: 10px;
    width: 100%;
    display: block;
    padding: 40px 10px;
  }
}